.menuList{
      background-color: rgb(52,54,58);
      margin-left: auto;
      margin-right:auto;
      border-radius: 5px;
      color:#fff;
      text-align: center;
      padding-top: .5rem;
      max-width:85%;
      padding-bottom: .5rem;
      list-style:none;
      margin-top: .5rem;
      display: flex;
      flex-direction: column;
}
