.navigation{
  ul{
    margin:0;
    padding:5px 0 0 0;
  }

  li{
    list-style: none;
    float:left;
    padding-right: 20px;

    &:last-child{
      padding-right: 0;
    }
  }

  a{
    text-decoration: none;
  }

  &--not_floating{
      ul{
        padding:5px 0 5px 0;
          text-align: center;
      }
      li{
        list-style: none;
        padding: 5px;
        background-color: #000;
      }
      a{
        text-decoration: none;
        color: #FFF;
      }

  }
}
