.first-section{
  border-bottom: 10px solid $blue;
  position: relative;

  &__image{
    display: block;
  }

  &--content{
    position: absolute;
    top: 40%;
    right:25%;
    text-align: center;
    color:#000;
    max-width: 50%;
  }
}

img{
  width: 100%;
  opacity: .5;
}
