.large-hero{
  position: relative;
  border-bottom: 1px solid red;

  &__image{
    display: block;
  }

  &__text-content{
    padding-top: 10px;
    position: absolute;
    top:50%;
    left:0;
    width:100%;
    text-align:center;
    transform: translateY(-50%);
    @mixin atSmall{
      padding-top: 25px;
    }
  }

  &__subtitle{
    font-weight: 600;
    color: rgba(#fff, 1);
    font-size: 2rem;
    text-shadow: 2px 5px 5px #000;
    &-extension{
      color:#000;
      text-shadow: 1px 2px 5px #ff0000;
    }

    @mixin atLarge{
      font-size:3.9rem;
    }
  }
}
