.page-section{
  padding:.2rem 0;
  @mixin atMedium{
    padding: .5rem 0;
  }

  &__react{
    padding:.2rem .1rem;
    @mixin atMedium{
      padding: .5rem .1rem;
    }
  }
  &__testimonials{
    padding:.2rem 0;
    background-color: red;
    @mixin atMedium{
      padding: .5rem 1rem;
    }
  }
&--no-b-padding-until-medium{
  padding-bottom: 0;
  @mixin atMedium{
    padding-bottom: 4.5rem;
  }
}

&--no-b-padding-until-large{
  padding-bottom: 0;
  @mixin atLarge{
    padding-bottom: 4.5rem;
  }
}

  &--blue{
    background-color: $mainBlue;
    color:#FFF;
  }
  &--testimonials{
    max-width: 100%;
    margin: auto;
    @mixin atLarge{
        margin: .5rem auto 2rem auto;
    }
  }
}
