.testimonial{
  padding: 0 18px 1px 18px;
  margin-bottom: 20px;
  box-shadow: none;
  @mixin atLarge{
  padding: 0 1.88125rem 1px 1.88125rem;
  margin-bottom:2px;
  box-shadow: 1px 1px 5px #d40000;
  }

  &--last{
    margin-bottom:0;

    @mixin atLarge{
      margin-bottom:5px;
    }
  }

  &__photo{
    border-radius: 20px;
    overflow: hidden;
    width:100px;
    height: 100px;
    margin:0 auto -15px auto;
    position: relative;
    top:-35px;
    color:#800000;
    text-align: center;
  }

  &__title{
    color:#ff0000;
    text-align: center;
    font-size: 2rem;
    font-weight: 200;
    font-family: fantasy;
    margin: 0;
    @mixin atSmall{
      font-weight: 300;
    }
  }

  &__subtitle{
    color:$mainOrange;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    margin: .25rem 0 1rem 0;
    padding-top: 1.1rem;
  }
}
