.testimonial{
  background-color: rgb(255,255,255);
  padding: 0 18px 1px 18px;
  margin-bottom: 30px;
  box-shadow: none;
  @mixin atLarge{
  padding: 0 1.88125rem 1px 1.88125rem;
  margin-bottom:5px;
  box-shadow: 2px 2px 10px #000;
  }

  &--last{
    margin-bottom:0;

    @mixin atLarge{
      margin-bottom:5px;
    }
  }

  &__photo{
    border-radius: 50px;
    overflow: hidden;
    width:70px;
    height: 70px;
    margin: auto;
    position: relative;
    top:-20px;
    margin-bottom: -5px;
  }

  &__title{
    color:#ff0000;
    text-align: center;
    font-size: 2rem;
    font-weight: 200;
    font-family: fantasy;
    margin: 0;
    @mixin atSmall{
      font-weight: 300;
    }
  }

  &__subtitle{
    color:$mainOrange;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    margin: .25rem 0 1rem 0;
    padding-top: 1.1rem;
  }
}
